{{define "layout"}}
<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">    
        <title>Vascular Plants of Arkansas Database</title>
    </head>
    <body>
        
        <div class="logo"><img class="banner" src="/static/banner.png"><h1>Vascular Plants of Arkanss Database</h1></div>
        {{template "body" .}}</body>
</html>{{end}}

