{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div>
    <form action="/search" method="GET">
        <label for="phyla">Polyphylactic Group</label>
        <select name="phyla" id="phyla">
        <option value="pteridophytes">Pteridophytes</option>
        <option value="gymnosperms">Gymnosperms</option>
        <option value="angiosperm_dicots">Angiosperm Dicots</option>
        <option value="angiosperm_monocots">Angiosperm Monocots</option>
        </select>
        <input placeholder="family" name="family">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}